@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #4dc0b5, #3490dc);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient{
  background-image: radial-gradient(transparent 1px,#fff 1px);
  backdrop-filter: saturate(50%) blur(4px);
  background-size: 4px 4px;
}

html,body,#__next{
  height: 100%;
}

.user-info{
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
}

.ant-spin-container{
  height: 100%;
}
